/* xs 22 sm 30 34 lg46 */
.btn {
    display: inline-block;
    height: 34px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btn i {
    font-size: 14px;
}

.btn:focus, .btn:hover {
    text-decoration: none;
}

.btn:focus, .btn.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(16, 139, 238, 0.25);
    box-shadow: 0 0 0 2px rgba(16, 139, 238, 0.25);
}

.btn.disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .65;
}

.btn:active, .btn.active {
    background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}

.btn-primary {
    color: #fff;
    background-color: #108bee;
    border-color: #108bee;
}

.btn-primary:hover {
    color: #fff;
    background-color: #2691e7;
    border-color: #2691e7;
}

.btn-primary:focus, .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(16, 139, 238, 0.5);
    box-shadow: 0 0 0 2px rgba(16, 139, 238, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #108bee;
    border-color: #108bee;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2691e7;
    background-image: none;
    border-color: #2691e7;
}

.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}

.btn-secondary:hover {
    color: #292b2c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-secondary:focus, .btn-secondary.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
    box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
    background-color: #fff;
    border-color: #ccc;
}

.btn-secondary:active, .btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
    color: #292b2c;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2;
}

.btn-info:focus, .btn-info.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
    box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-info:active, .btn-info.active,
.show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #31b0d5;
    background-image: none;
    border-color: #2aabd2;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
}

.btn-success:focus, .btn-success.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
    box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-success:active, .btn-success.active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #449d44;
    background-image: none;
    border-color: #419641;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #eb9316;
}

.btn-warning:focus, .btn-warning.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
    box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-warning:active, .btn-warning.active,
.show > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #ec971f;
    background-image: none;
    border-color: #eb9316;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;
}

.btn-danger:focus, .btn-danger.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
    box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-danger:active, .btn-danger.active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #c9302c;
    background-image: none;
    border-color: #c12e2a;
}

.btn-outline-primary {
    color: #108bee;
    background-image: none;
    background-color: #fff;
    border-color: #108bee;
}

.btn-outline-primary.ghost {
    background-color: transparent;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #108bee;
    border-color: #108bee;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(16, 139, 238, 0.5);
    box-shadow: 0 0 0 2px rgba(16, 139, 238, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #108bee;
    background-color: #fff;
}

.btn-outline-primary.ghost.disabled, .btn-outline-primary.ghost:disabled {
    background-color: transparent;
}

.btn-outline-primary:active, .btn-outline-primary.active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #108bee;
    border-color: #108bee;
}

.btn-outline-secondary {
    color: #ccc;
    background-image: none;
    background-color: #fff;
    border-color: #ccc;
}
.btn-outline-secondary.ghost {
    background-color: transparent;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
    box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #ccc;
    background-color: #fff;
}

.btn-outline-secondary.ghost.disabled, .btn-outline-secondary.ghost:disabled {
    background-color: transparent;
}

.btn-outline-secondary:active, .btn-outline-secondary.active,
.show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
}

.btn-outline-info {
    color: #5bc0de;
    background-image: none;
    background-color: #fff;
    border-color: #5bc0de;
}

.btn-outline-info.ghost {
    background-color: transparent;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-outline-info:focus, .btn-outline-info.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
    box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
    color: #5bc0de;
    background-color: #fff;
}

.btn-outline-info.ghost.disabled, .btn-outline-info.ghost:disabled {
    background-color: transparent;
}

.btn-outline-info:active, .btn-outline-info.active,
.show > .btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-outline-success {
    color: #5cb85c;
    background-image: none;
    background-color: #fff;
    border-color: #5cb85c;
}

.btn-outline-success.ghost {
    background-color: transparent;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-outline-success:focus, .btn-outline-success.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
    box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
    color: #5cb85c;
    background-color: #fff;
}

.btn-outline-success.ghost.disabled, .btn-outline-success.ghost:disabled {
    background-color: transparent;
}

.btn-outline-success:active, .btn-outline-success.active,
.show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-outline-warning {
    color: #f0ad4e;
    background-image: none;
    background-color: #fff;
    border-color: #f0ad4e;
}

.btn-outline-warning.ghost {
    background-color: transparent;
}

.btn-outline-warning:hover {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
    box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
    color: #f0ad4e;
    background-color: #fff;
}

.btn-outline-warning.ghost.disabled, .btn-outline-warning.ghost:disabled {
    background-color: transparent;
}

.btn-outline-warning:active, .btn-outline-warning.active,
.show > .btn-outline-warning.dropdown-toggle {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-outline-danger {
    color: #d9534f;
    background-image: none;
    background-color: #fff;
    border-color: #d9534f;
}

.btn-outline-danger.ghost {
    background-color: transparent;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
    box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
    color: #d9534f;
    background-color: #fff;
}

.btn-outline-danger.ghost.disabled, .btn-outline-danger.ghost:disabled {
    background-color: transparent;
}

.btn-outline-danger:active, .btn-outline-danger.active,
.show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-link {
    font-weight: normal;
    color: #0275d8;
    border-radius: 0;
}

.btn-link, .btn-link:active, .btn-link.active, .btn-link:disabled {
    background-color: transparent;
}

.btn-link, .btn-link:focus, .btn-link:active {
    border-color: transparent;
}

.btn-link:hover {
    border-color: transparent;
}

.btn-link:focus, .btn-link:hover {
    color: #014c8c;
    text-decoration: underline;
    background-color: transparent;
}

.btn-link:disabled {
    color: #636c72;
}

.btn-link:disabled:focus, .btn-link:disabled:hover {
    text-decoration: none;
}

/* size */

.btn-lg, .btn-group-lg > .btn {
    height: 46px;
    padding: 8px 16px;
    line-height: 32px;
    font-size: 18px;
    border-radius: 6px;
}

.btn-lg i {
    font-size: 18px;
}

.btn-sm, .btn-group-sm > .btn {
    height: 30px;
    padding: 5px 10px;
    line-height: 18px;
    font-size: 12px;
    border-radius: 3px;
}

.btn-sm i {
    font-size: 12px;
}

.btn-xs, .btn-group-xs > .btn {
    height: 22px;
    padding: 2px 4px;
    line-height: 16px;
    font-size: 12px;
    border-radius: 3px;
}

.btn-xs i {
    font-size: 12px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 5px;
}
